/* ■■■■■■■■ COMMON ■■■■■■■■ */
.sec{ position: relative; width: 100%; overflow: hidden; background: #fff; }
.sec-cont{ position: fixed; top: 0; left: 0; z-index: 2; width: 100%; height: 100vh; background: #fff; transition: 0.5s ease-in-out; }
.inner{ width: 1300px; max-width: 94%; min-width: 1060px; margin: 0 auto; padding: 0 20px; }

/* aniTxt */
.aniTxt{ display: inline-block; overflow: hidden; line-height: 1; }
.aniTxt i{ display: inline-block; min-width: 10px; font-style: normal; }
.aniTxt.active i{ animation: aniTxt 1s ease 1 both;  }
.aniTxt.active i:nth-child(1){  animation-delay: 100ms; }
.aniTxt.active i:nth-child(2){  animation-delay: 130ms; }
.aniTxt.active i:nth-child(3){  animation-delay: 160ms; }
.aniTxt.active i:nth-child(4){  animation-delay: 220ms; }
.aniTxt.active i:nth-child(5){  animation-delay: 250ms; }
.aniTxt.active i:nth-child(6){  animation-delay: 280ms; }
.aniTxt.active i:nth-child(7){  animation-delay: 310ms; }
.aniTxt.active i:nth-child(8){  animation-delay: 340ms; }
.aniTxt.active i:nth-child(9){  animation-delay: 370ms; }
.aniTxt.active i:nth-child(10){ animation-delay: 400ms; }
.aniTxt.active i:nth-child(11){ animation-delay: 430ms; }
.aniTxt.active i:nth-child(12){ animation-delay: 460ms; }
.aniTxt.active i:nth-child(13){ animation-delay: 490ms; }
.aniTxt.active i:nth-child(14){ animation-delay: 520ms; }
.aniTxt.active i:nth-child(15){ animation-delay: 550ms; }
.aniTxt.active i:nth-child(16){ animation-delay: 580ms; }
.aniTxt.active i:nth-child(17){ animation-delay: 610ms; }
.aniTxt.active i:nth-child(18){ animation-delay: 640ms; }
.aniTxt.active i:nth-child(19){ animation-delay: 670ms; }
.aniTxt.active i:nth-child(20){ animation-delay: 700ms; }
@keyframes aniTxt {
	0% { transform: translate(0px, 105%) rotate(10deg); }
	100% { transform: translate(0, 0) rotate(0); }
}


/* intro */
.intro{ height: 240vh; } 
.intro-bg{ z-index: 9; top: -50%; height: 150%; opacity: 0; background-image: url('../../images/contents/intro-bg.jpg'); transition: all 0s, opacity 1s; }
.intro-bg.active{ opacity: 1; }
.intro-cont{ z-index: 10; display: flex; justify-content: center; align-items: center; background: transparent; }
.intro-cont.hide{ visibility: hidden; opacity: 0; z-index: -1; transition: all 0s 2s; } 
.intro-cont.none{ visibility: hidden; opacity: 0; z-index: -1; transition: all 0s 0s; } 
/* .intro-cont::after{ content: ''; position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%; background: #fff; } */
.intro-img{ opacity: 1; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); transition: opacity 1s; }
.intro-img.hide{ opacity: 0; }
.intro-title{ display: flex; transform: scale(1); opacity: 1; font-size: 10vw; font-weight: 700; transition: all 0.7s; } 
.intro-title span{ display: inline-block; -webkit-text-stroke: 1px transparent; color: #fff; }
.intro-title.hide{ transform: scale(10); opacity: 0; transition: all 2s; }
.intro-title.hide span{ -webkit-text-stroke: 1px #f69000; color: transparent; transition: all 0.5s; }

/* about */
.about{ padding: 20vw 0 10vw; }
.about .inner{ display: flex; justify-content: space-between; }
.about-title { position: absolute; top: -3em; z-index: 9; padding-left: 5vw; font-size: 7vw; font-weight: 700; color: #f69000; letter-spacing: -6px; line-height: 1; white-space: nowrap; }
.about-title h2{ font-size: inherit; font-weight: inherit; color: inherit; letter-spacing: inherit; line-height: inherit; }
.intro .about-title{ top: auto; bottom: 2em; color: #fff; }
.about-count{ margin-bottom: 15px; font-size: 54px; font-weight: 600; color: #000; letter-spacing: -2px; }
.about-text{ margin-top: 40px; font-size: 20px; font-weight: 400; color: #000; line-height: 1.8; }
.about .img-wrap{ position: relative; z-index: 2; width: 400px; max-width: 32%; margin-top: 10vh; }
.about .img-wrap::after{ content: ''; position: absolute; top: 20px; left: 20px; z-index: -1; width: 100%; height: 100%; border: 1px solid #f69000; }

/* project */
.project{ padding-top: 150vh; padding-bottom: 10vw; }
.project-cont{ z-index: -1; opacity: 0; }
.project-cont.active{ z-index: 2; }
.project-cont.actTit{ background: transparent; }
.project-cont.hide{ z-index: -1 !important; opacity: 0 !important; }
.project-cont .title{ position: relative; font-family: 'Lato'; font-size: 10vw; font-weight: 800; color: transparent; line-height: 1; -webkit-text-stroke: 1px #f69000; white-space: nowrap; letter-spacing: 0; }
.project-cont .title span{ display: inline-block; padding: 0 20px; opacity: 0; transition: opacity 0.5s; }
.project-cont .title:nth-child(2){ left: -20vw; }
.project-cont .title:nth-child(3){ left: -18vw; }
.project-cont .title:nth-child(4){ left: -40vw; }
.project-cont .title:nth-child(5){ left: -15vw; }
.project-cont .title:nth-child(6){ left: -10vw; }
.project-cont .title:nth-child(1) span:nth-child(1){ color: #f69000; }
.project-cont .title:nth-child(2) span:nth-child(3){ color: #f69000; }
.project-cont .title:nth-child(3) span:nth-child(2){ opacity: 1; }
.project-cont .title:nth-child(3n) span:nth-child(2n){ color: #f69000; }
.project-cont .title:nth-child(4) span:nth-child(1){ color: #f69000; }
.project-cont.actTit span{ opacity: 1; }
.project-list{ display: flex; flex-wrap: wrap; justify-content: space-between; max-width: 1800px; margin: 0 auto; padding: 0 6%; transition: all 0.1s; }
.project-item{ position: relative; width: 48%; max-width: 700px; margin-bottom: 8vw; }
.project-item:nth-child(2n){ top: 10vw; }
.project-item .img-box{ overflow: hidden; position: relative; z-index: 2; box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1); }
.project-item .img-box .img{ position: relative; width: 100%; padding-bottom: 57%; }
.project-item .img-box img{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 110%; max-width: none; height: 110%; }
.project-item .hover-box{ opacity: 0; position: absolute; top: 0; left: 0; z-index: -1; width: 100%; height: 100%; border-radius: 50%; transition: all 0.5s; }
.project-item:hover .hover-box{ top: -20px; left: -20px; width: calc(100% + 40px); height: calc(100% + 40px); opacity: 1; border-radius: 0; }
.project-item .txt-box{ display: flex; justify-content: space-between; align-items: center; margin-top: 30px; }
.project-item .txt-box .tit{ font-size: 32px; font-weight: 400; }
.project-item .txt-box .sub-tit{ position: relative; padding-left: 50px; font-size: 16px; font-weight: 400; }
.project-item .txt-box .sub-tit::before{ content: ''; position: absolute; top: 50%; left: 0; width: 40px; height: 1px; background: #000; } 


/* study */
.study{ overflow: visible; height: 340vh; margin-top: 50vh; }
.study-cont{ visibility: hidden; opacity: 0; }
.study-cont.active1{ visibility: visible; opacity: 1; }
.study-cont-tit{ display: flex; align-items: center; z-index: 3; transition: all 1s, z-index 0s; }
.study-cont-tit .txt-box{ margin-left: 5vw; }
.study-cont-tit .txt-box .title-wrap{ position: relative; }
.study-cont-tit .txt-box .title{ transform: translateY(50px); position: relative; z-index: 5; margin-left: 25vw; margin-bottom: 50px; opacity: 0; font-size: 80px; font-weight: 700; color: #f69000; line-height: 1.3; letter-spacing: 2px; transition: all 1s 0s; }
.study-cont-tit .txt-box .title2{ position: absolute; top: 20px; left: 20px; z-index: 4; color: transparent; -webkit-text-stroke: 1px #f69000; }
.study-cont-tit .txt-box .text{ transform: translateY(30px); opacity: 0; font-size: 17px; font-weight: 400; color: #666; line-height: 1.7; transition: all 1s 0.2s; }
.study-cont-tit .bg-box{ overflow: hidden; position: absolute; top: 0; right: -10%; z-index: 3; width: 0; height: 100%; transform: scale(1.5); transition: all 1s; }
.study-cont-tit .bg-box .bg{ left: auto; right: 0; height: 100vh; background-position: bottom 10% center; transition: all 1s; }
.study-cont-tit.active1 .title{ transform: translateY(0); opacity: 1; }
.study-cont-tit.active1 .text{ transform: translateY(0); opacity: 1; } 
.study-cont-tit.active1 .bg-box{ right: 0; width: 60%; transform: scale(1);  }
.study-cont-tit.active2 .bg-box{ width: 100%; }
.study-cont-tit.active2 .txt-box{ opacity: 0; } 
.study-cont-tit.hide{ z-index: -1; opacity: 0; }
.study-cont-list{ display: flex; align-items: center; z-index: 2; padding: 5vh 5vw 0; background: #ece7df; }
.study-cont-list.active1{ transition-delay: 1s; }
.study-cont-list.active2{ transition: all 0.05s 0s linear; }
.study-cont-list-tit{ position: absolute; top: 8vh; left: -1vw; font-family: 'Lato'; font-size: 10vw; font-weight: 700; color: transparent; line-height: 1.3; letter-spacing: 2px; -webkit-text-stroke: 1px #f69000; }
.study-cont-track{ display: flex; transition: all 0.3s; }
.study-cont-item{ width: 30vw; margin-right: 5vw; }
.study-cont-item .img-box{ display: flex; align-items: center; overflow: hidden; position: relative; height: 18.5vw; border-radius: 10px; box-shadow: 0 10px 30px rgb(0 0 0 / 10%); background: #fff; }
.study-cont-item .img-box img{ max-width: 90%; max-height: 100%; margin: 0 auto; }
.study-cont-item .img-box.img-change img:nth-child(1){ animation: imgChange 2s infinite; }
.study-cont-item .img-box.img-change img:nth-child(2){ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); animation: imgChange 2s 1s infinite; }
@keyframes imgChange{
	0%{ opacity: 0; }
	50%{ opacity: 0; }
	51%{ opacity: 1; }
	100%{ opacity: 1; }
}
.study-cont-item .txt-box{ position: relative; z-index: 2; margin-top: -16px; padding: 0 20px; }
.study-cont-item .tit{ margin-bottom: 15px; font-size: 32px; font-weight: 700; color: #000; line-height: 1.3; }
.study-cont-item .txt{ margin-bottom: 5px; font-size: 17px; font-weight: 300; color: #666; line-height: 1.5; letter-spacing: -0.5px; }
.study-cont-item .btn{ display: inline-block; position: relative; padding-right: 40px; font-size: 17px; font-weight: 500; color: #000; line-height: 1.5; letter-spacing: -0.5px; transition: all 0.3s; }
.study-cont-item .btn::before{ content: ''; position: absolute; top: 48%; left: calc(100% - 30px); width: 30px; height: 1px; background: #000; } 
.study-cont-item .btn::after{ content: ''; position: absolute; top: 48%; left: calc(100% - 30px); width: 0; height: 1px; background: #f69000; transition: all 0.5s; } 
.study-cont-item .btn:hover{ color: #f69000; }
.study-cont-item .btn:hover::after{ width: 30px; }


/* contact */
.contact{ height: 280vh; }
.contact-cont{ z-index: -1; visibility: hidden; }
.contact-cont.active{ z-index: 1; visibility: visible; }
.contact-tit{ position: absolute; top: 0; left: 0; width: 100%; height: 100%; transition: all 0.5s; }
.contact-tit .item{ position: absolute; top: 40%; left: 50%; transform: translateX(-50%); width: 1080px; height: 1080px; }
.contact-tit .item1 svg{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%) rotate(135deg); width: 142%; }
.contact-tit .item1 svg text{ font-family: 'Lato'; font-size: 36px; font-weight: 700; fill: #f69000; stroke: #f69000; stroke-width: 0.3px; letter-spacing: 0; line-height: 1; transition: all 0s, fill 0.3s, stroke 0.3s; }
.contact-tit .item2{ top: 35%; }
.contact-tit .item2 svg{ overflow: visible; transform: scale(0.45); }
.contact-tit .item2 svg path{ fill: #f69000; } 
.contact-tit .item2 .path1{ transform: matrix(0.87815, -0.42791, 0.42791, 0.87815, -7.943, 76.9769); } 
.contact-tit .item2 .path2{ transform: matrix(0.93452, -0.22453, 0.22453, 0.93452, -2.99582, 51.6405); } 
.contact-tit .item2 .path3{ transform: matrix(0.99756, -0.15976, 0.15976, 0.99756, -9.16663, 39.5387); } 
.contact-tit .item2 .path4{ transform: rotate(0deg)  } 
.contact-tit .item2 .path5{ transform: matrix(0.97255, 0.16187, -0.16187, 0.97255, 15.20745, -44.1662) } 
.contact-tit .item2 .path6{ transform: matrix(0.92437, 0.32495, -0.32495, 0.92437, 40.7703, -100.5323) } 
.contact-tit .item2 .path7{ transform: matrix(0.90437, 0.40495, -0.40495, 0.90437, 55.7703, -127.5323); } 
.contact-tit .item2 .text{ opacity: 0; font-size: 18px; font-weight: 400; color: #000; text-align: center; line-height: 1.5; transition: all 0.5s; }
.contact-tit .item2 .text a{ display: block; margin-top: 10px; font-size: 1.4em; }
.contact-tit .item2.active svg path{ transform: rotate(0) translate(0px, 0px); transition: all 0.5s; fill: #000; }
.contact-tit .item2.hide{ opacity: 0; }
.contact-tit .item2 .text.active{ opacity: 1; }
.contact-tit.hide{ opacity: 0; visibility: hidden; z-index: -1; }


